* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    --background-color: #f0eeee;
    --input-color: #ffffff;
    --button-color: #7b3db8;
    --text-color: #262626;
    --text-highlight-1: #7b3db8;
    --text-highlight-2: #055ff0;
    --light-gray-text: #767676;
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  input,
  button {
    font: inherit;
  }
  
  input[type="text"] {
    padding: 1rem 2rem;
    border: 2px solid transparent;
    background-color: var(--input-color);
    color: var(--text-color);
    border-radius: 5px;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: min(500px, 90%);
  }
  
  .visuallyhidden {
    position: absolute;
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
  }
  
  .btn {
    background: transparent;
    color: var(--text-highlight-1);
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover {
    color: var(--text-highlight-2);
  }
  
  a,
  .btn {
    border: 2px solid transparent;
  }
  
  .add-field .btn:focus,
  input[type="text"]:focus {
    border: 2px solid var(--text-color);
    outline: 0;
  }
  
  header {
    padding-block: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
  }
  
  .title {
    font-size: 4rem;
    line-height: 1.5;
  }
  
  .text-highlight1 {
    color: var(--text-highlight-1);
  }
  
  .text-highlight2 {
    color: var(--text-highlight-2);
  }
  
  .empty-list-instruction {
    text-align: center;
    color: var(--light-gray-text);
    line-height: 1.5;
    font-size: 1.5rem;
    padding: 5rem 2rem;
  }
  
  .empty-list-instruction i {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  
  .empty-list-instruction {
    background-color: var(--input-color);
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  
  .todo-wrapper {
    display: none;
  }
  
  .todo-wrapper.show {
    display: block;
  }
  
  .todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--input-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 3px;
  }
  
  .todo-item.hide {
    display: none;
  }
  
  .todo-item + .todo-item {
    margin-top: 1px;
  }
  
  .todo-item label {
    user-select: none;
  }
  
  .todo-item input {
    accent-color: var(--text-highlight-1);
    margin-right: 1rem;
  }
  
  .todo-item.complete {
    text-decoration: line-through;
    color: var(--light-gray-text);
  }
  
  .todo-nav {
    margin: 8rem 0 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding-left: 0.5rem;
  }
  
  .todo-nav ul {
    display: flex;
    gap: 2rem;
  }
  
  .todo-nav ul button {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    color: var(--text-color);
    cursor: pointer;
  }
  
  .todo-nav ul button.active {
    border-color: var(--text-highlight-1);
    color: var(--text-highlight-1);
  }
  
  .todo-nav ul button.active,
  .todo-nav ul button:hover {
    border-color: var(--text-highlight-1);
    color: var(--text-highlight-1);
  }
  
  .todo-nav .btn {
    border: 1px solid var(--text-highlight-1);
    border-radius: 10px;
    padding-inline: 1rem;
  }
  
  .todo-nav .btn:hover {
    background-color: var(--button-color);
    color: #fff;
  }
  
  #add-todo-form {
    margin-top: 8rem;
  }
  
  .add-field {
    display: flex;
    gap: 1rem;
  }
  
  .add-field input {
    width: 80%;
  }
  
  .add-field .btn {
    flex: 1;
    background: var(--button-color);
    color: #fff;
    border-radius: 5px;
  }
  
  .add-field .btn:hover {
    background: var(--text-highlight-2);
  }
  
  footer {
    margin-top: auto;
    padding: 5rem 1rem 1rem;
    font-size: 1.4rem;
  }
  
  footer a {
    color: var(--text-color);
  }
  
  footer a:hover {
    text-decoration: underline;
    color: var(--text-highlight-1);
  }